.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/*.php
/.venv/
**/__pycache__/
*.py[cod]
/.phpunit.cache/
/.pytest_cache/
/storage/*.key
/storage/logs/*
/database/*.sqlite
/database/*.sqlite-*
/work/
/local/
/artifacts/
*.pem
*.key
.DS_Store
Thumbs.db
/auth.json
/public/storage
/.phpunit.result.cache
